// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.card{
    width: 100% !important;
}
.center{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
a{text-decoration: none !important;}
@media only screen and (max-width: 990px) {
    .card{
        width: 115% !important;
    }
  }
@media only screen and (max-width: 825px) {
    .card{
        width: 90% !important;
    }
  }
@media only screen and (max-width: 600px) {
    .card{
        width: 100% !important;
    }
  }